anyio==4.0.0
astroid==3.0.1
blinker==1.7.0
certifi==2023.7.22
click==8.1.7
colorama==0.4.6
dill==0.3.7
h11==0.14.0
httpcore==1.0.1
httpx==0.25.1
idna==3.4
iniconfig==2.0.0
isort==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
Mako==1.2.4
Markdown==3.5
MarkupSafe==2.1.3
mccabe==0.7.0
packaging==23.2
pdoc3==0.10.0
platformdirs==3.11.0
pluggy==1.3.0
pylint==3.0.2
pytest==7.4.3
setuptools==68.2.2
sniffio==1.3.0
tomlkit==0.12.1
Werkzeug==3.0.1
